<div class="semester" id="s1">
	<div class="semester-head">
		Year 1 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
		
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s2">
	<div class="semester-head">
		Year 1  Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s3">
	<div class="semester-head">
		Year 2 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s4">
	<div class="semester-head">
		Year 2 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s5">
	<div class="semester-head">
		Year 3 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s6">
	<div class="semester-head">
		Year 3 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s7">
	<div class="semester-head">
		Year 4 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s8">
	<div class="semester-head">
		Year 4 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>