<div class='input-group' id='moudle-search-bar'>
	<input type='text' class='form-control' id='moudle-search-bar-box' placeholder='Enter module code or module name'>
	<span class='input-group-btn'>
		<button class='btn btn-default' id='module-search-bar-select' type='button'>Select</button>
	</span>
</div>

<div class='selected-module-info'>
	<div class='module-code'>
	</div>
	<div class='MC'>
	</div>
	<div class='module-title'>
	</div>
	<div class="pre-requisites">
	</div>
	<div class="preclusion">
	</div>
	<div class='semester-history'>
	</div>

	<div class='pre-requisite-tree'>
		There will be a pre-requisite tree.
	</div>
</div>
