<div class="semester">
	<div class="semester-head" id="1">
		Year 1 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
		
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="2">
	<div class="semester-head">
		Year 1  Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="3">
	<div class="semester-head">
		Year 2 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="4">
	<div class="semester-head">
		Year 2 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="5">
	<div class="semester-head">
		Year 3 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="6">
	<div class="semester-head">
		Year 3 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="7">
	<div class="semester-head">
		Year 4 Sem 1
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="8">
	<div class="semester-head">
		Year 4 Sem 2
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>