<div class='input-group' id='moudle-search-bar'>
	<input type='text' class='form-control' id='module-search-bar-box' placeholder='Enter module code or module name'>
	<span class='input-group-btn'>
		<button class='btn btn-default' id='module-search-bar-select' type='button'>Select</button>
	</span>
</div>

<div class='selected-module-info'>
	<div class="inline">
		<div class='module-code inline'>
			<div class="module-info-head">
				Module Code:
			</div>
			<div>
				
			</div>
		</div>
		<div class='MC inline'>
			MCs
		</div>
	</div>
	<div class='module-title'>
		Module Title:
	</div>
	<div class="pre-requisites">
	</div>
	<div class="preclusion">
		Preclusions:
	</div>
	<div class="add-module">
		<button class="btn" id="add-module-button" type="button">Add</button>
	</div>
	<div class='semester-history'>
	</div>

	<div class='pre-requisite-tree'>
		There will be a pre-requisite tree.
	</div>
</div>

<!-- <script src="./scripts/moduleInfo/controller/moduleInfoControllerTemp.js"></script> -->