<div class="semester" id="s1">
	<div class="semester-head">
		<p>Year 1</p>
		<p>Sem 1</p>
	</div>
	<div class="module-tile empty-module-tile">
		
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s2">
	<div class="semester-head">
		<p>Year 1</p>
		<p>Sem 2</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s3">
	<div class="semester-head">
		<p>Year 2</p> 
		<p>Sem 1</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s4">
	<div class="semester-head">
		<p>Year 2</p>
		<p>Sem 2</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s5">
	<div class="semester-head">
		<p>Year 3</p> 
		<p>Sem 1</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s6">
	<div class="semester-head">
		<p>Year 3</p> 
		<p>Sem 2</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s7">
	<div class="semester-head">
		<p>Year 4</p> 
		<p>Sem 1</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>
<div class="semester" id="s8">
	<div class="semester-head">
		<p>Year 4</p> 
		<p>Sem 2</p>
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
	<div class="module-tile empty-module-tile">
	</div>
</div>