
<div class='input-group' id='module-search-bar'>
	<input type='text' class='form-control' id='module-search-bar-box' placeholder='Enter module code here'>
	<span class='input-group-btn'>
		<button class='btn btn-warning btn-sm' id='module-search-bar-select' type='button'>Select</button>
	</span>
</div>

<div class='selected-module-info'>
	<div class="inline">
		<div class='module-code inline'>
			<div class="module-info-head">
				<STRONG>Module Code:</STRONG>
			</div>
			<div>
				<p></p>
			</div>
		</div>
		<div class='MC inline'>
			MCs
		</div>
	</div>
	<div class='module-title'>
		<STRONG>Module Title:</STRONG>
	</div>
	<div>
		<p></p>
	</div>
	<div class="all-module-info">
		<div class="description-block">
			<div class="description">
				<STRONG>Description:</STRONG>
			</div>
			<a class="btn" id="show-more" data-popup-open="popup-description" href="#">Show more</a>
			<div class="popup" data-popup="popup-description">
			    <div class="popup-inner">
			        <p id="full-module-description"></p>
			        <p class="hide-description"><a data-popup-close="popup-description" href="#">Close</a></p>
			        <a class="popup-close hide-description" id="hide-description-button" data-popup-close="popup-description" href="#">x</a>
			    </div>
			</div>
		</div>
		<div>
			<p></p>
		</div>
		<div class="pre-requisites">
			<STRONG>Pre-requisites:</STRONG>
		</div>
		<div>
			<p></p>
		</div>
		<div class="preclusion">
			<STRONG>Preclusions:</STRONG>
		</div>
		<div>
			<p></p>
		</div>
		<div class='history'>
			<STRONG>History:</STRONG>
		</div>
		<div class='semester-history'>
		</div>
	</div>
	<div>
		<p></p>
	</div>
	<div class="add-module">
		<button class="btn btn-warning" id="add-module-button" type="button">Add</button>
	</div>
</div>

<!-- <script src="./scripts/moduleInfo/controller/moduleInfoControllerTemp.js"></script> -->