
<progress class="progress progress-striped progress-info" id="the-progress-bar" value="0" max="100"></progress>

<div id="module-lists"> </div>


<li class="nav-item dropdown visible-list module-list-1">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lvl 1000</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-1" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-1" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-2">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lvl 2000</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-2" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-2" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-3">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lvl 3000</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-3" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-3" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-4">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lvl 4000</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-4" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-4" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-5">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">FLR</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-5" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-5" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-6">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ULR</a>
    <div class="dropdown-menu scrollable-menu" role="menu">
      	<a class="dropdown-item fixed-item" id="chosen-6" href="#">Chosen Modules:</a>
      	<div class="dropdown-divider"></div>
      	<a class="dropdown-item fixed-item" id="avaliable-6" href="#">Avaliable Modules:</a>
    </div>
</li>
<li class="nav-item dropdown visible-list module-list-7">
    <div>UE</div>
</li>